.fullpage{
    display: flex;
    justify-content:space-evenly;  
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    min-height: 100vh;
}
.pic{
    width: 27%;
    padding: 15px;
    margin: 15px;
    background: #66430215;
}
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    cursor: pointer;
}
.pic h2 {
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
}
@media screen and (max-width:700px){
    .pic h2 {
        font-size: 15px;
    }
} 
