.container {
    background: #ffe69c8f;
  padding: 40px 20px;
    height: 100vh;

  margin: 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-size: 2.5rem;
  margin: 0 0 15px 0;
  color: #333;
}

.description {
  font-size: 1rem;
  color: #666;
  margin: 0;
}

.content {
  display: flex;
  justify-content: center;
}

.contactSection {
  width: 100%;
  max-width: 500px;
}

.contactBox {
  background:#8f704c4b;
  padding: 30px;
  border-radius: 10px;
}

.contactBox h2 {
  color: #333;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 15px;
}

.contactBox p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 25px;
}

.buttonGroup {
  display: flex;
  gap: 10px;
}

.emailBtn {
  padding: 12px 24px;
  background: #ffe69c;
  color: black;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
}

.emailBtn:hover {
  background: #94865a;
}

@media (max-width: 768px) {
  .container {
    padding: 20px 15px;
  }

  .title {
    font-size: 2rem;
  }

  .contactBox {
    padding: 20px;
  }

  .emailBtn {
    padding: 10px 20px;
    font-size: 0.95rem;
  }
}

